python-dotenv
diskcache
yfinance
pinecone
cohere
beautifulsoup4
lxml
pdfplumber
requests
pytest
guardrails-ai
presidio-analyzer
presidio-anonymizer
groq
langgraph
langchain
langchain-groq
langchain-google-genai
langchain-mcp-adapters
plotly
streamlit
streamlit-searchbox
markdown
xhtml2pdf
langsmith
ragas
datasets
langchain-huggingface
huggingface_hub
