python-dotenv
diskcache
yfinance
pinecone
cohere
beautifulsoup4
lxml
pdfplumber
PyMuPDF
requests
pytest
guardrails-ai
presidio-analyzer
presidio-anonymizer
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
groq
langgraph
langchain
langchain-groq
langchain-google-genai
langchain-mcp-adapters
plotly
streamlit
streamlit-searchbox
markdown
xhtml2pdf
langsmith
langchain-huggingface
huggingface_hub
langchain-nvidia-ai-endpoints
